.elementor-1526 .elementor-element.elementor-element-1e4e4aa {
  --display: flex;
  --flex-direction: column;
  --container-widget-width: 100%;
  --container-widget-height: initial;
  --container-widget-flex-grow: 0;
  --container-widget-align-self: initial;
  --flex-wrap-mobile: wrap;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-size: var(--e-global-typography-primary-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
  line-height: var(--e-global-typography-primary-line-height);
  color: var(--e-global-color-primary);
}
.elementor-1526
  .elementor-element.elementor-element-314df5a
  .elementor-heading-title {
  font-family: var(--e-global-typography-secondary-font-family), Sans-serif;
  font-size: var(--e-global-typography-secondary-font-size);
  font-weight: var(--e-global-typography-secondary-font-weight);
  line-height: var(--e-global-typography-secondary-line-height);
  color: var(--e-global-color-accent);
}
.elementor-widget-form .elementor-field-group > label,
.elementor-widget-form .elementor-field-subgroup label {
  color: var(--e-global-color-text);
}
.elementor-widget-form .elementor-field-group > label {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-widget-form .elementor-field-type-html {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-widget-form .elementor-field-group .elementor-field {
  color: var(--e-global-color-text);
}
.elementor-widget-form .elementor-field-group .elementor-field,
.elementor-widget-form .elementor-field-subgroup label {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-widget-form .elementor-button {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-widget-form .e-form__buttons__wrapper__button-next {
  background-color: var(--e-global-color-accent);
}
.elementor-widget-form .elementor-button[type="submit"] {
  background-color: var(--e-global-color-accent);
}
.elementor-widget-form .e-form__buttons__wrapper__button-previous {
  background-color: var(--e-global-color-accent);
}
.elementor-widget-form .elementor-message {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-widget-form .e-form__indicators__indicator,
.elementor-widget-form .e-form__indicators__indicator__label {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-widget-form {
  --e-form-steps-indicator-inactive-primary-color: var(--e-global-color-text);
  --e-form-steps-indicator-active-primary-color: var(--e-global-color-accent);
  --e-form-steps-indicator-completed-primary-color: var(
    --e-global-color-accent
  );
  --e-form-steps-indicator-progress-color: var(--e-global-color-accent);
  --e-form-steps-indicator-progress-background-color: var(
    --e-global-color-text
  );
  --e-form-steps-indicator-progress-meter-color: var(--e-global-color-text);
}
.elementor-widget-form .e-form__indicators__indicator__progress__meter {
  font-family: var(--e-global-typography-accent-font-family), Sans-serif;
  font-size: var(--e-global-typography-accent-font-size);
  font-weight: var(--e-global-typography-accent-font-weight);
  line-height: var(--e-global-typography-accent-line-height);
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-field-group {
  padding-right: calc(40px / 2);
  padding-left: calc(40px / 2);
  margin-bottom: 40px;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-form-fields-wrapper {
  margin-left: calc(-40px / 2);
  margin-right: calc(-40px / 2);
  margin-bottom: -40px;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-field-group.recaptcha_v3-bottomleft,
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-field-group.recaptcha_v3-bottomright {
  margin-bottom: 0;
}
body.rtl
  .elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-left: 0px;
}
body:not(.rtl)
  .elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-labels-inline
  .elementor-field-group
  > label {
  padding-right: 0px;
}
body
  .elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-labels-above
  .elementor-field-group
  > label {
  padding-bottom: 0px;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-field-type-html {
  padding-bottom: 0px;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-field-group
  .elementor-field {
  color: #6e6e6e;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-field-group:not(.elementor-field-type-upload)
  .elementor-field:not(.elementor-select-wrapper) {
  background-color: #fff5e0;
  border-color: #8e8e8e;
  border-radius: 10px 10px 10px 10px;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-field-group
  .elementor-select-wrapper
  select {
  background-color: #fff5e0;
  border-color: #8e8e8e;
  border-radius: 10px 10px 10px 10px;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-field-group
  .elementor-select-wrapper::before {
  color: #8e8e8e;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .e-form__buttons__wrapper__button-next {
  color: #ffffff;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-button[type="submit"] {
  color: #ffffff;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-button[type="submit"]
  svg
  * {
  fill: #ffffff;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .e-form__buttons__wrapper__button-previous {
  color: #ffffff;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .e-form__buttons__wrapper__button-next:hover {
  color: #ffffff;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-button[type="submit"]:hover {
  color: #ffffff;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .elementor-button[type="submit"]:hover
  svg
  * {
  fill: #ffffff;
}
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  .e-form__buttons__wrapper__button-previous:hover {
  color: #ffffff;
}
.elementor-1526 .elementor-element.elementor-element-00b73d4 {
  --e-form-steps-indicators-spacing: 20px;
  --e-form-steps-indicator-padding: 30px;
  --e-form-steps-indicator-inactive-secondary-color: #ffffff;
  --e-form-steps-indicator-active-secondary-color: #ffffff;
  --e-form-steps-indicator-completed-secondary-color: #ffffff;
  --e-form-steps-divider-width: 1px;
  --e-form-steps-divider-gap: 10px;
}
#elementor-popup-modal-1526 .dialog-widget-content {
  background-color: #fff5e0;
  border-radius: 20px 20px 20px 20px;
}
#elementor-popup-modal-1526 {
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
#elementor-popup-modal-1526 .dialog-message {
  width: 760px;
  height: auto;
  padding: 40px 40px 40px 40px;
}
#elementor-popup-modal-1526 .dialog-close-button {
  display: flex;
  top: 40px;
  font-size: 15px;
}
body:not(.rtl) #elementor-popup-modal-1526 .dialog-close-button {
  right: 40px;
}
body.rtl #elementor-popup-modal-1526 .dialog-close-button {
  left: 40px;
}
#elementor-popup-modal-1526 .dialog-close-button i {
  color: #1e1e1e;
}
#elementor-popup-modal-1526 .dialog-close-button svg {
  fill: #1e1e1e;
}
@media (max-width: 1024px) {
  .elementor-widget-heading .elementor-heading-title {
    font-size: var(--e-global-typography-primary-font-size);
    line-height: var(--e-global-typography-primary-line-height);
  }
  .elementor-1526
    .elementor-element.elementor-element-314df5a
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-widget-form .elementor-field-group > label {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-widget-form .elementor-field-type-html {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-widget-form .elementor-field-group .elementor-field,
  .elementor-widget-form .elementor-field-subgroup label {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-widget-form .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-widget-form .elementor-message {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-widget-form .e-form__indicators__indicator,
  .elementor-widget-form .e-form__indicators__indicator__label {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-widget-form .e-form__indicators__indicator__progress__meter {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
}
@media (max-width: 767px) {
  .elementor-widget-heading .elementor-heading-title {
    font-size: var(--e-global-typography-primary-font-size);
    line-height: var(--e-global-typography-primary-line-height);
  }
  .elementor-1526
    .elementor-element.elementor-element-314df5a
    .elementor-heading-title {
    font-size: var(--e-global-typography-secondary-font-size);
    line-height: var(--e-global-typography-secondary-line-height);
  }
  .elementor-widget-form .elementor-field-group > label {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-widget-form .elementor-field-type-html {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-widget-form .elementor-field-group .elementor-field,
  .elementor-widget-form .elementor-field-subgroup label {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-widget-form .elementor-button {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-widget-form .elementor-message {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-widget-form .e-form__indicators__indicator,
  .elementor-widget-form .e-form__indicators__indicator__label {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
  .elementor-widget-form .e-form__indicators__indicator__progress__meter {
    font-size: var(--e-global-typography-accent-font-size);
    line-height: var(--e-global-typography-accent-line-height);
  }
} /* Start custom CSS for form, class: .elementor-element-00b73d4 */
.elementor-1526
  .elementor-element.elementor-element-00b73d4
  input[type="submit"] {
  width: 250px;
}
.elementor-1526 .elementor-element.elementor-element-00b73d4 span.required {
  color: #de1b1b;
} /* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-1e4e4aa */
#elementor-popup-modal-1526 .dialog-message {
  overflow: visible !important;
}

.elementor-1526 .elementor-element.elementor-element-1e4e4aa::after {
  content: "";
  background-image: url("https://jetsavetours.in/wp-content/uploads/2024/04/Vector-41.svg ");
  background-size: 80px auto;
  width: 100px;
  height: 100px;
  position: absolute;
  top: -80px;
  background-repeat: no-repeat;
  background-position: center center;
  left: 50%;
  transform: translateX(-50%);
} /* End custom CSS */
