.elementor-2505 .elementor-element.elementor-element-773fc80 {
  --display: flex;
  --gap: 50px 50px;
  --row-gap: 50px;
  --column-gap: 50px;
}
.elementor-2505 .elementor-element.elementor-element-773fc80.e-con {
  --flex-grow: 0;
  --flex-shrink: 0;
}
.elementor-widget-heading .elementor-heading-title {
  font-family: var(--e-global-typography-primary-font-family), Sans-serif;
  font-size: var(--e-global-typography-primary-font-size);
  font-weight: var(--e-global-typography-primary-font-weight);
  line-height: var(--e-global-typography-primary-line-height);
  color: var(--e-global-color-primary);
}
.elementor-2505
  .elementor-element.elementor-element-b5f258f
  > .elementor-widget-container {
  padding: 0px 50px 0px 0px;
}
.elementor-2505
  .elementor-element.elementor-element-b5f258f
  .elementor-heading-title {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1em;
  color: var(--e-global-color-accent);
}
.elementor-widget-text-editor {
  color: var(--e-global-color-text);
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-widget-text-editor.elementor-drop-cap-view-stacked
  .elementor-drop-cap {
  background-color: var(--e-global-color-primary);
}
.elementor-widget-text-editor.elementor-drop-cap-view-framed
  .elementor-drop-cap,
.elementor-widget-text-editor.elementor-drop-cap-view-default
  .elementor-drop-cap {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-2505
  .elementor-element.elementor-element-7ea3151
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6e6e6e80;
}
.elementor-2505 .elementor-element.elementor-element-7ea3151 {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-2505
  .elementor-element.elementor-element-78e88df
  .elementor-heading-title {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
  color: var(--e-global-color-text);
}
.elementor-2505
  .elementor-element.elementor-element-b1cf803
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6e6e6e80;
}
.elementor-2505 .elementor-element.elementor-element-b1cf803 {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-2505
  .elementor-element.elementor-element-6808355
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6e6e6e80;
}
.elementor-2505 .elementor-element.elementor-element-6808355 {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-2505
  .elementor-element.elementor-element-f885179
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6e6e6e80;
}
.elementor-2505 .elementor-element.elementor-element-f885179 {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-2505
  .elementor-element.elementor-element-4239166
  > .elementor-widget-container {
  padding: 0px 0px 50px 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6e6e6e80;
}
.elementor-2505 .elementor-element.elementor-element-4239166 {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-2505
  .elementor-element.elementor-element-5f00726
  > .elementor-widget-container {
  padding: 20px 50px 0px 0px;
}
.elementor-2505
  .elementor-element.elementor-element-5f00726
  .elementor-heading-title {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 1em;
  color: var(--e-global-color-accent);
}
.elementor-2505
  .elementor-element.elementor-element-1b2d6e7
  > .elementor-widget-container {
  margin: 20px 0px 0px 0px;
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6e6e6e80;
}
.elementor-2505 .elementor-element.elementor-element-1b2d6e7 {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-2505
  .elementor-element.elementor-element-638e3b8
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6e6e6e80;
}
.elementor-2505 .elementor-element.elementor-element-638e3b8 {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-2505
  .elementor-element.elementor-element-604a418
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6e6e6e80;
}
.elementor-2505 .elementor-element.elementor-element-604a418 {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-2505
  .elementor-element.elementor-element-7eec2f1
  > .elementor-widget-container {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #6e6e6e80;
}
.elementor-2505 .elementor-element.elementor-element-7eec2f1 {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-2505
  .elementor-element.elementor-element-833805a
  > .elementor-widget-container {
  border-style: none;
}
.elementor-2505 .elementor-element.elementor-element-833805a {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.3em;
}
.elementor-2505 .elementor-element.elementor-element-7dffd65 {
  --display: flex;
  --border-radius: 20px 20px 20px 20px;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-2505
  .elementor-element.elementor-element-7dffd65:not(.elementor-motion-effects-element-type-background),
.elementor-2505
  .elementor-element.elementor-element-7dffd65
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e9d19c;
}
.elementor-2505
  .elementor-element.elementor-element-7744c9a
  .elementor-heading-title {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1em;
}
.elementor-2505 .elementor-element.elementor-element-e579862 {
  color: var(--e-global-color-accent);
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  text-decoration: underline;
  line-height: 1.3em;
}
.elementor-2505 .elementor-element.elementor-element-9d8d04e {
  --display: flex;
  --border-radius: 20px 20px 20px 20px;
  --margin-top: 0px;
  --margin-bottom: 30px;
  --margin-left: 0px;
  --margin-right: 0px;
  --padding-top: 30px;
  --padding-bottom: 30px;
  --padding-left: 30px;
  --padding-right: 30px;
}
.elementor-2505
  .elementor-element.elementor-element-9d8d04e:not(.elementor-motion-effects-element-type-background),
.elementor-2505
  .elementor-element.elementor-element-9d8d04e
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #e9d19c;
}
.elementor-2505
  .elementor-element.elementor-element-7ee23e2
  .elementor-heading-title {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 40px;
  font-weight: 600;
  line-height: 1em;
}
.elementor-2505 .elementor-element.elementor-element-6ba7f11 {
  color: var(--e-global-color-accent);
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3em;
}
.elementor-widget-icon-list .elementor-icon-list-item:not(:last-child):after {
  border-color: var(--e-global-color-text);
}
.elementor-widget-icon-list .elementor-icon-list-icon i {
  color: var(--e-global-color-primary);
}
.elementor-widget-icon-list .elementor-icon-list-icon svg {
  fill: var(--e-global-color-primary);
}
.elementor-widget-icon-list
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-widget-icon-list .elementor-icon-list-item > a {
  font-family: var(--e-global-typography-text-font-family), Sans-serif;
  font-size: var(--e-global-typography-text-font-size);
  font-weight: var(--e-global-typography-text-font-weight);
  line-height: var(--e-global-typography-text-line-height);
}
.elementor-widget-icon-list .elementor-icon-list-text {
  color: var(--e-global-color-secondary);
}
.elementor-2505
  .elementor-element.elementor-element-999fe1e
  > .elementor-widget-container {
  margin: -20px 0px 0px 40px;
}
.elementor-2505
  .elementor-element.elementor-element-999fe1e
  .elementor-icon-list-icon
  i {
  transition: color 0.3s;
}
.elementor-2505
  .elementor-element.elementor-element-999fe1e
  .elementor-icon-list-icon
  svg {
  transition: fill 0.3s;
}
.elementor-2505 .elementor-element.elementor-element-999fe1e {
  --e-icon-list-icon-size: 24px;
  --icon-vertical-offset: 0px;
}
.elementor-2505
  .elementor-element.elementor-element-999fe1e
  .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-2505
  .elementor-element.elementor-element-999fe1e
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-2505
  .elementor-element.elementor-element-999fe1e
  .elementor-icon-list-item
  > a {
  font-family: "Cormorant Infant", Sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.3em;
}
.elementor-2505
  .elementor-element.elementor-element-999fe1e
  .elementor-icon-list-text {
  color: var(--e-global-color-accent);
  transition: color 0.3s;
}
#elementor-popup-modal-2505 .dialog-widget-content {
  background-color: #fff5e0;
  border-radius: 20px 20px 20px 20px;
}
#elementor-popup-modal-2505 {
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  pointer-events: all;
}
#elementor-popup-modal-2505 .dialog-message {
  width: 760px;
  height: auto;
  padding: 40px 40px 40px 40px;
}
#elementor-popup-modal-2505 .dialog-close-button {
  display: flex;
  top: 40px;
  font-size: 16px;
}
body:not(.rtl) #elementor-popup-modal-2505 .dialog-close-button {
  right: 40px;
}
body.rtl #elementor-popup-modal-2505 .dialog-close-button {
  left: 40px;
}
@media (max-width: 1024px) {
  .elementor-widget-heading .elementor-heading-title {
    font-size: var(--e-global-typography-primary-font-size);
    line-height: var(--e-global-typography-primary-line-height);
  }
  .elementor-2505
    .elementor-element.elementor-element-b5f258f
    .elementor-heading-title {
    font-size: 38px;
  }
  .elementor-widget-text-editor {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-2505 .elementor-element.elementor-element-7ea3151 {
    font-size: 18px;
  }
  .elementor-2505
    .elementor-element.elementor-element-78e88df
    .elementor-heading-title {
    font-size: 18px;
  }
  .elementor-2505 .elementor-element.elementor-element-b1cf803 {
    font-size: 18px;
  }
  .elementor-2505 .elementor-element.elementor-element-6808355 {
    font-size: 18px;
  }
  .elementor-2505 .elementor-element.elementor-element-f885179 {
    font-size: 18px;
  }
  .elementor-2505 .elementor-element.elementor-element-4239166 {
    font-size: 18px;
  }
  .elementor-2505
    .elementor-element.elementor-element-5f00726
    .elementor-heading-title {
    font-size: 38px;
  }
  .elementor-2505 .elementor-element.elementor-element-1b2d6e7 {
    font-size: 18px;
  }
  .elementor-2505 .elementor-element.elementor-element-638e3b8 {
    font-size: 18px;
  }
  .elementor-2505 .elementor-element.elementor-element-604a418 {
    font-size: 18px;
  }
  .elementor-2505 .elementor-element.elementor-element-7eec2f1 {
    font-size: 18px;
  }
  .elementor-2505 .elementor-element.elementor-element-833805a {
    font-size: 18px;
  }
  .elementor-2505
    .elementor-element.elementor-element-7744c9a
    .elementor-heading-title {
    font-size: 38px;
  }
  .elementor-2505 .elementor-element.elementor-element-e579862 {
    font-size: 18px;
  }
  .elementor-2505
    .elementor-element.elementor-element-7ee23e2
    .elementor-heading-title {
    font-size: 38px;
  }
  .elementor-2505 .elementor-element.elementor-element-6ba7f11 {
    font-size: 18px;
  }
  .elementor-widget-icon-list
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-widget-icon-list .elementor-icon-list-item > a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-2505
    .elementor-element.elementor-element-999fe1e
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-2505
    .elementor-element.elementor-element-999fe1e
    .elementor-icon-list-item
    > a {
    font-size: 18px;
  }
}
@media (min-width: 768px) {
  .elementor-2505 .elementor-element.elementor-element-773fc80 {
    --width: 97.285%;
  }
}
@media (max-width: 767px) {
  .elementor-2505 .elementor-element.elementor-element-773fc80 {
    --gap: 10px 10px;
    --row-gap: 10px;
    --column-gap: 10px;
  }
  .elementor-widget-heading .elementor-heading-title {
    font-size: var(--e-global-typography-primary-font-size);
    line-height: var(--e-global-typography-primary-line-height);
  }
  .elementor-2505
    .elementor-element.elementor-element-b5f258f
    .elementor-heading-title {
    font-size: 30px;
  }
  .elementor-widget-text-editor {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-2505 .elementor-element.elementor-element-7ea3151 {
    font-size: 16px;
  }
  .elementor-2505
    .elementor-element.elementor-element-78e88df
    .elementor-heading-title {
    font-size: 16px;
  }
  .elementor-2505 .elementor-element.elementor-element-b1cf803 {
    font-size: 16px;
  }
  .elementor-2505 .elementor-element.elementor-element-6808355 {
    font-size: 16px;
  }
  .elementor-2505 .elementor-element.elementor-element-f885179 {
    font-size: 16px;
  }
  .elementor-2505 .elementor-element.elementor-element-4239166 {
    font-size: 16px;
  }
  .elementor-2505
    .elementor-element.elementor-element-5f00726
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-2505
    .elementor-element.elementor-element-5f00726
    .elementor-heading-title {
    font-size: 32px;
  }
  .elementor-2505 .elementor-element.elementor-element-1b2d6e7 {
    font-size: 16px;
  }
  .elementor-2505 .elementor-element.elementor-element-638e3b8 {
    font-size: 16px;
  }
  .elementor-2505 .elementor-element.elementor-element-604a418 {
    font-size: 16px;
  }
  .elementor-2505 .elementor-element.elementor-element-7eec2f1 {
    font-size: 16px;
  }
  .elementor-2505 .elementor-element.elementor-element-833805a {
    font-size: 16px;
  }
  .elementor-2505 .elementor-element.elementor-element-7dffd65 {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-2505
    .elementor-element.elementor-element-7744c9a
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-2505 .elementor-element.elementor-element-e579862 {
    font-size: 14px;
  }
  .elementor-2505 .elementor-element.elementor-element-9d8d04e {
    --padding-top: 10px;
    --padding-bottom: 10px;
    --padding-left: 10px;
    --padding-right: 10px;
  }
  .elementor-2505
    .elementor-element.elementor-element-7ee23e2
    .elementor-heading-title {
    font-size: 25px;
  }
  .elementor-2505 .elementor-element.elementor-element-6ba7f11 {
    font-size: 16px;
  }
  .elementor-widget-icon-list
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-widget-icon-list .elementor-icon-list-item > a {
    font-size: var(--e-global-typography-text-font-size);
    line-height: var(--e-global-typography-text-line-height);
  }
  .elementor-2505
    .elementor-element.elementor-element-999fe1e
    > .elementor-widget-container {
    margin: -13px 0px 0px 0px;
  }
  .elementor-2505
    .elementor-element.elementor-element-999fe1e
    .elementor-icon-list-item
    > .elementor-icon-list-text,
  .elementor-2505
    .elementor-element.elementor-element-999fe1e
    .elementor-icon-list-item
    > a {
    font-size: 16px;
  }
  #elementor-popup-modal-2505 {
    justify-content: center;
    align-items: center;
  }
  #elementor-popup-modal-2505 .dialog-widget-content {
    border-radius: 10px 10px 10px 10px;
  }
  #elementor-popup-modal-2505 .dialog-close-button {
    top: 20px;
  }
  body:not(.rtl) #elementor-popup-modal-2505 .dialog-close-button {
    right: 20px;
  }
  body.rtl #elementor-popup-modal-2505 .dialog-close-button {
    left: 20px;
  }
  #elementor-popup-modal-2505 .dialog-message {
    padding: 10px 10px 10px 10px;
  }
} /* Start custom CSS for text-editor, class: .elementor-element-7ea3151 */
.elementor-2505 .elementor-element.elementor-element-7ea3151 ul {
  margin-left: 20px;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-b1cf803 */
.elementor-2505 .elementor-element.elementor-element-b1cf803 ul {
  margin-left: 20px;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6808355 */
.elementor-2505 .elementor-element.elementor-element-6808355 ul {
  margin-left: 20px;
}
.elementor-2505 .elementor-element.elementor-element-6808355 p {
  margin-bottom: 0;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-f885179 */
.elementor-2505 .elementor-element.elementor-element-f885179 ul {
  margin-left: 20px;
}
.elementor-2505 .elementor-element.elementor-element-f885179 p {
  margin-bottom: 0;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-4239166 */
.elementor-2505 .elementor-element.elementor-element-4239166 ul {
  margin-left: 20px;
}
.elementor-2505 .elementor-element.elementor-element-4239166 p {
  margin-bottom: 0;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-1b2d6e7 */
.elementor-2505 .elementor-element.elementor-element-1b2d6e7 ul {
  margin-left: 20px;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-638e3b8 */
.elementor-2505 .elementor-element.elementor-element-638e3b8 ul {
  margin-left: 20px;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-604a418 */
.elementor-2505 .elementor-element.elementor-element-604a418 ul {
  margin-left: 20px;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-7eec2f1 */
.elementor-2505 .elementor-element.elementor-element-7eec2f1 ul {
  margin-left: 20px;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-833805a */
.elementor-2505 .elementor-element.elementor-element-833805a ul {
  margin-left: 20px;
}
.elementor-2505 .elementor-element.elementor-element-833805a p {
  margin-bottom: 0;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-e579862 */
.elementor-2505 .elementor-element.elementor-element-e579862 ul {
  margin-left: 30px;
  margin-bottom: 0;
}
.elementor-2505 .elementor-element.elementor-element-e579862 p {
  margin-bottom: 0;
} /* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-6ba7f11 */
.elementor-2505 .elementor-element.elementor-element-6ba7f11 ul {
  margin-left: 30px;
  margin-bottom: 0;
}
.elementor-2505 .elementor-element.elementor-element-6ba7f11 p {
  margin-bottom: 0;
} /* End custom CSS */
/* Start custom CSS */
#elementor-popup-modal-2505 ::-webkit-scrollbar {
  width: 0;
} /* End custom CSS */
